.bg-img {
    background-image: url(/Bootstrap-Portfolio/assets/images/qbkls.png)
}
body { 
    padding-top: 80px;
    padding-bottom: 50px;
}
.bg-cont {
    background-color: #fff;
}
.footer {
    font-size:12px;
}
.margin-footer {
    margin-bottom: 26px;
}

#photo-size {
    width: 200px;
    height: 200px;
}
.photo-wrapper {
    position: relative;
    width: 200px;
margin: 0 auto;
}
.text-block {
    width: 200px;
    position: absolute;
    bottom: 8px;
    text-align: center;
    
    
}
